@model ProductApplication.Models.Products
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(model => model.Id)

<style>
    textbox {
        padding: 5px;
        border: 1px solid groove;
    }

    input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255, 244, 244);
    }

    .error {
        color: red;
    }
</style>

<h2 style="text-align:center">Edit Product Record</h2>
<br><hr />
<div ng-controller="ProductController">
    <form name="EditForm" novalidate>
        <table class="table table-responsive table-bordered">
            
            <tr>
                <td>Name</td>
                <td>
                    <input class="textbox" type="text" ng-model="Name" name="pName" ng-class="submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(EditForm.pName.$dirty || submitted) && EditForm.eName.$error.required">Name Is Required</span>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input class="textbox" type="text" ng-model="Price" name="pPrice" ng-class="submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(EditForm.pPrice.$dirty || submitted) && EditForm.eFatherName.$error.required">Father Name Is Required</span>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <input class="textbox" type="text" ng-model="Category" name="pCategory" ng-class="submitted?'ng-dirty':''" required autofocus />
                    <span class="error" ng-show="(EditForm.pCategory.$dirty || submitted) && EditForm.eEmailID.$error.required">Category Is Required</span>
                </td>
            </tr>
          
        </table>
        <input type="submit" class="btn btn-success" ng-click="UpdateProduct(Product)" value="Update" />
        <p class="btn btn-primary">@Html.ActionLink("Back to List", "Index", null, new { style = "color:white" })</p>
    </form>
</div>
